ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DC143C;
    position: static;
    border: 1px outset #A41720;
    width: 100%;
}

li {
    float: left;
    border-bottom: 1px outset #A41720;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a: hover {
    background-color: black;
    color: white;
}

li: last-child {
border-bottom:none;
}
